@font-face {
  font-family: 'DINPro';
  src: url('fonts/din_pro.eot');
  src: url('fonts/din_pro.eot?#iefix') format('embedded-opentype'),
    url('fonts/din_pro.woff2') format('woff2'),
    url('fonts/din_pro.woff') format('woff'),
    url('fonts/din_pro.ttf') format('truetype'),
    url('fonts/din_pro.svg#din_pro') format('svg');
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Regular.eot');
  src: local('fonts/Gilroy Regular'), local('fonts/Gilroy-Regular'),
    url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-Regular.woff') format('woff'),
    url('fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Black.eot');
  src: local('fonts/Gilroy Black'), local('fonts/Gilroy-Black'),
    url('fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-Black.woff') format('woff'),
    url('fonts/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Light.eot');
  src: local('fonts/Gilroy Light'), local('fonts/Gilroy-Light'),
    url('fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-Light.woff') format('woff'),
    url('fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Thin.eot');
  src: local('fonts/Gilroy Thin'), local('fonts/Gilroy-Thin'),
    url('fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gilroy-Thin.woff') format('woff'),
    url('fonts/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

.root {
  position: relative;
}

.container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  --slides-number: 1;
  align-items: center;
  width: 100%;
  width: calc(var(--slides-number) * 100%);
  height: 100vh;
  max-height: 100vh;
  transform: translate(
    calc(
      var(--x-difference, 0px) + var(--current-slide-index, 0) /
        var(--slides-number) * -100%
    )
  );
  user-select: auto;
  pointer-events: all;
  scroll-behavior: smooth;
}

.page-1,
.page-2,
.page-3 {
  min-width: 100vw;
  height: 100vh;
  position: relative;
  width: 100%;
  width: calc(100% / var(--slides-number));
  user-select: auto;
  pointer-events: auto;
}

.page-1 {
  background-image: url('images/page1/bg.png');
  background-color: #fff;
  background-size: 102% 102%;
}

.smooth {
  transition: transform calc(var(--factor, 1) * 0.5s) ease-out;
}

.home {
  position: absolute;
  z-index: 9999;
  margin-left: 7%;
  margin-top: 30px;
}

.home:hover {
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 7%;
  bottom: 3%;
  width: 58px;
  height: 12px;
  z-index: 9999;
}

.greetings-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  left: 7%;
  top: 12%;
  z-index: 7;
}

.greetings-text {
  font-size: 3vw;
  font-family: 'DINPro';
  font-weight: 100;
  color: rgb(36, 36, 36);
  line-height: 4.074;
}

.greetings-description {
  font-size: 10vw;
  font-family: 'Gilroy';
  font-weight: 300;
  color: rgb(23, 23, 23);
  line-height: 1.073;
  letter-spacing: 10px;
}

.btn-what-next {
  position: absolute;
  right: 5%;
  bottom: 4%;
  z-index: 98;
  user-select: auto;
  pointer-events: auto;
}

/*
page 1 background images styles
*/

.bact1 {
  position: absolute;
  left: 22px;
  top: 503px;
  width: 74px;
  height: 72px;
  z-index: 4;
  animation: bact1 2.5s linear alternate infinite;
}

.bact2 {
  position: absolute;
  left: 542px;
  top: 641px;
  width: 228px;
  height: 225px;
  width: fit-content;
  height: fit-content;
  z-index: 12;
  animation: bact2 7s linear alternate infinite;
}

.bact3 {
  position: absolute;
  left: 744px;
  top: 61px;
  width: 63px;
  height: 58px;
  z-index: 15;
  animation: bact3 11s linear infinite;
}

.bact4 {
  position: absolute;
  left: 0px;
  top: 72px;
  width: 100px;
  height: 100px;
  z-index: 16;
}

.bact5 {
  position: absolute;
  left: 700px;
  top: 180px;
  width: 111px;
  height: 114px;
  z-index: 17;
  animation: bact5 40s linear infinite;
}

.bact6 {
  position: absolute;
  left: 917px;
  top: 30px;
  width: 71px;
  height: 69px;
  z-index: 14;
}

.bact7 {
  position: absolute;
  left: 347px;
  top: 631px;
  width: 85px;
  height: 78px;
  z-index: 13;
}

.sperm1 {
  position: absolute;
  left: 432px;
  top: 155px;
  width: 592px;
  height: 93px;
  z-index: 11;
}

.sperm2 {
  position: absolute;
  left: -134px;
  top: 593px;
  width: 414px;
  height: 183px;
  z-index: 3;
}

/*
page 2 styles
*/

.page-2 {
  background-image: url('images/page2/bg.png');
  background-color: #fff;
  background-size: 108% 108%;
  user-select: auto;
  pointer-events: auto;
}

.page-2-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-2-heading {
  align-self: flex-start;
  text-align: left;
  margin-top: 115px;
  margin-left: 60px;
  text-transform: uppercase;
  font-size: 28px;
  font-family: 'DINPro';
  font-weight: 200;
  color: rgb(36, 36, 36);
  line-height: 1.2;
  text-align: left;
  z-index: 30;
}

.page-2-text-block {
  overflow-y: scroll;
  direction: rtl;
  margin-top: 100px;
  border-radius: 40px;
  position: absolute;
  left: 119px;
  top: 100px;
  width: 775px;
  height: 445px;
  z-index: 99;
  user-select: auto;
  pointer-events: auto;
}

.page-2-text-block::-webkit-scrollbar {
  width: 30px;
  height: 100%;
}

.page-2-text-block::-webkit-scrollbar-track {
  background-image: url(images/page2/track.png);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
}

.page-2-text-block::-webkit-scrollbar-thumb {
  background-image: url(images/page2/thumb.png);
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 23.7px;
}

.page-2-text {
  line-height: 30px;
  padding: 25px;
  font-size: 22px;
  font-family: 'DinPRO';
  box-shadow: 2.723px 4.193px 116.25px 8.75px rgba(157, 185, 198, 0.39);
  background-color: #fff;
  text-align: left;
}

.page-2-text-wrapper {
  border-radius: 40px;
  margin-left: 40px;
}

/*
page 2 background images styles
*/

.page-2-sperms {
  display: none;
}

.sperm3 {
  opacity: 0.529;
  position: absolute;
  left: 584px;
  top: 70px;
  width: 500px;
  height: 200px;
  z-index: 22;
  animation: sperm 3s forwards ease;
}

.sperm4 {
  opacity: 0.49;
  position: absolute;
  left: 889px;
  top: 411px;
  width: 135px;
  height: 90px;
  z-index: 24;
  animation: sperm 3s forwards ease;
}

.sperm5 {
  opacity: 0.49;
  position: absolute;
  left: 710px;
  top: 74px;
  width: 300px;
  height: fit-content;
  z-index: 25;
  animation: sperm 3s forwards ease;
}

.sperm6 {
  opacity: 0.49;
  position: absolute;
  position: absolute;
  left: 886px;
  top: 515px;
  width: 150px;
  height: 80px;
  z-index: 26;
  animation: sperm 3s forwards ease;
}

.sperm7 {
  position: absolute;
  left: 366px;
  top: 70px;
  width: 700px;
  height: 300px;
  z-index: 23;
  animation: sperm 3s forwards ease;
}

/*
page 2 animations
*/

@keyframes sperm {
  from {
    transform: translate(45px, 30px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 0.5;
  }
}

/* 
page 3 styles
 */

.page-3 {
  background-image: url('images/page3/bg.png');
  background-color: #fff;

  background-size: 110% 110%;
  user-select: auto;
  pointer-events: auto;
}

.page-3-block {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.page-3-header {
  position: absolute;
  left: 33.5%;
  top: 21%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

.page-3-header-name {
  font-size: 2.5vw;
  font-family: 'DINPro';
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  text-align: left;
  z-index: 55;
}

.page-3-header-brand {
  font-size: 9vw;
  font-family: 'Gilroy';
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: left;
  margin-top: 5px;
  z-index: 56;
}

.page-3-content {
  margin-left: 10%;
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

.page-3-content-block-left {
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  min-width: fit-content;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2.723px 4.193px 116.25px 8.75px rgba(157, 185, 198, 0.39);
  width: 414px;
  height: 265px;
  z-index: 38;
}

.page-3-content-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-3-content-block-right {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2.723px 4.193px 116.25px 8.75px rgba(157, 185, 198, 0.39);
  width: 263px;
  height: 150px;
  z-index: 59;
}

.page-3-icon {
  position: relative;
  top: -10px;
  left: 30%;
  margin-top: -20px;
  width: 70px;
}

.page-3-text {
  margin-left: 30%;
  margin-right: 10%;
  margin-bottom: 20%;
  font-size: 24px;
  font-family: 'DinPRO';
}

.btn-what-next {
  user-select: all;
  pointer-events: all;
}

.btn-what-next:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: absolute;
  z-index: 60;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 10, 35, 0.6);
  user-select: auto;
  pointer-events: auto;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 2px 16px;
  border-radius: 40px;
  width: 80%;
  height: 75%;
  margin-top: 130px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation: fadein 0.4s;
  animation: fadein 0.7s;
}

.close {
  position: absolute;
  right: 13%;
  top: 20%;
  width: 30px;
  height: 30px;
  z-index: 99;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.number {
  font-size: 25px;
  font-family: 'Gilroy';
  color: rgb(140, 201, 232);
  font-weight: bolder;
  line-height: 1.2;
}

.modal-text {
  font-size: 25px;
  font-family: 'DinPRO';
  color: rgb(46, 46, 46);
  font-weight: 200;
  line-height: 1.2;
  margin-top: 2px;
  margin-bottom: 2px;
}

.modal-content {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
  width: 500px;
  margin-top: 8%;
  margin-left: 7%;
}

.modal-content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  overflow: hidden;
  width: 500px;
  height: 300px;
  margin-top: 50px;
  margin-left: 40px;
  -webkit-animation: fadein 3s;
  animation: fadein 0.7s;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  position: relative;
  z-index: 99;
  right: 130px;
  top: 40px;
  -webkit-animation: fadein 0.4s;
  animation: fadein 0.7s;
}

.pages {
  height: 15px;
  overflow: hidden;
}

.page-arrow {
  height: 15px;
}

.first-page > img,
.second-page > img {
  margin: 0 5px;
}

/* page 3 animastions */
.bottle {
  position: absolute;
  left: 10px;
  top: 65px;
  width: 316px;
  height: 703px;
  z-index: 68;
}

.bubble1 {
  opacity: 0.878;
  position: absolute;
  left: 77px;
  top: 212px;
  width: 34px;
  height: 35px;
  z-index: 67;
  animation: bubble1 7s linear alternate infinite;
}

.bubble2 {
  opacity: 0.929;
  position: absolute;
  left: 186px;
  top: 317px;
  width: 113px;
  height: 112px;
  z-index: 66;
  animation: bubble2 7s linear alternate infinite;
}

.bubble3 {
  opacity: 0.929;
  position: absolute;
  left: 170px;
  top: 110px;
  width: 37px;
  height: 39px;
  z-index: 65;
  animation: bubble3 11s linear infinite;
}

.bubble4 {
  opacity: 0.929;
  position: absolute;
  left: 230px;
  top: 591px;
  width: 62px;
  height: 62px;
  z-index: 64;
  animation: bubble4 4s linear alternate infinite;
}

.bubble5 {
  opacity: 0.929;
  position: absolute;
  left: 184px;
  top: 190px;
  width: 68px;
  height: 70px;
  z-index: 73;
  animation: bubble5 7s linear infinite;
}

.bubble6 {
  opacity: 0.929;
  position: absolute;
  left: 183px;
  top: 703px;
  width: 170px;
  height: 80px;
  z-index: 72;
  animation: bubble6 7s linear infinite;
}

.bubble7 {
  opacity: 0.929;
  position: absolute;
  left: 10px;
  top: 454px;
  width: 34px;
  height: 33px;
  z-index: 71;
  animation: bubble7 5s linear alternate infinite;
}

.bubble8 {
  opacity: 0.929;
  position: absolute;
  left: 25px;
  top: 554px;
  width: 75px;
  height: 75px;
  z-index: 70;
  animation: bubble8 7s linear infinite;
}

/* page 1 animations */

@keyframes bact1 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-7px, -25px);
  }
}

@keyframes bact2 {
  0% {
    transform: translate(0, 0) scale(110%);
  }
  50% {
    transform: translate(-10px, -10px) scale(160%);
  }
  100% {
    transform: translate(-15px, -25px) scale(140%);
  }
}

@keyframes bact3 {
  0%,
  100% {
    transform: translate(0, 0) scale(100%);
  }
  33% {
    transform: translate(30px, 5px) scale(100%);
  }
  66% {
    transform: translate(20px, 10px) scale(120%);
  }
}

@keyframes bact5 {
  from {
    transform: rotate(360deg) translateX(5px) translateY(-40px);
  }
  to {
    transform: rotate(0deg) translateX(5px) translateY(-40px);
  }
}

/* page 3 animations */
@keyframes bubble1 {
  0% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(30px, 10px);
  }
}

@keyframes bubble2 {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, 15px) scale(85%);
  }
  100% {
    transform: translate(5px, 20px) scale(115%);
  }
}

@keyframes bubble3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  20%,
  75% {
    transform: translate(15px, 25px);
  }
  45% {
    transform: translate(5px, -10px);
  }
  90% {
    transform: translate(5px, 10px) scale(120%);
  }
}

@keyframes bubble4 {
  from {
    transform: translate(0, 0) scale(100%);
  }
  to {
    transform: translate(15px, -10px) scale(85%);
  }
}

@keyframes bubble5 {
  0%,
  50%,
  100% {
    transform: translate(0, 0) scale(100%);
  }
  25% {
    transform: translate(10px, 10px) scale(120%);
  }
  75% {
    transform: translate(10px, -10px) scale(80%);
  }
}

@keyframes bubble6 {
  0%,
  100% {
    transform: translate(0, 0) scale(90%);
  }
  33% {
    transform: translate(-10px, 5px) scale(110%);
  }
  66% {
    transform: translate(-20px, -10px);
  }
}

@keyframes bubble7 {
  0% {
    transform: translate(0, 0) scale(100%);
  }
  75% {
    transform: translate(20px, -20px) scale(120%);
  }
  100% {
    transform: translate(30px, -15px) scale(100%);
  }
}

@keyframes bubble8 {
  0%,
  100% {
    transform: translate(0, 0) scale(100%);
  }
  25% {
    transform: translate(15px, 10px);
  }
  50% {
    transform: translate(10px, 15px) scale(120%);
  }
  75% {
    transform: translate(5px, 30px) scale(100%);
  }
}

@media screen and (min-width: 1025px) {
  .greetings-text {
    font-size: 2vw;
  }
  .greetings-description {
    font-size: 7vw;
  }
}
